<input type="text" class="form-control" ng-model="search">
<input type="text" class="form-control" ng-model="numLimit">


<div class="container-fluid">
  <div class="row" ng-repeat="car in cars | filter:search | limitTo:numLimit">
    <div class="col-md-4">
      <img class="img-responsive" src="images/{{car.id}}.jpg" alt="{{car.name}}" />
    </div>
    <div class="col-md-6">
      <article>
        <header>
          <a href="#/car/{{car.id}}">{{car.name}}</a>
        </header>
        <body>
          City: {{car.type.city}} <br>
          Family: {{car.type.family}} <br>
          Seats: {{car.seats}} <br>


          BabySeat: {{car.babySeat}} <br>
          {{car.city}}
        </body>
      </article>
    </div>
    <div class="col-md-2">
      <span uib-rating ng-model="car.stars" max="5" read-only="isReadonly" aria-labelledby="custom-icons-1"></span>
      Note: {{car.nbEvaluations}}
    </div>
  </div>
</div>
